body {
  font-family: 'Josefin Sans', sans-serif;
  background-image: url(https://newevolutiondesigns.com/images/freebies/nature-hd-background-8.jpg);
  } 

h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
  font-weight: bold;
}

main {
  text-align: right;
}

nav {
  background-color: rgba(0, 0, 0, 0.5);
  color: tomato;
}
